mixin video(info)
    div 
            h4
                a(href=`videos/${info.id}`)=info.title
            ul 
                li #{info.rating}/5.
                li 댓글: #{info.comments}
                li 업로드일자: #{info.createdAt}
                li 조회수: #{info.views}